{% extends 'base.html' %}

{% block main_block %}
<form method="post" role="form" enctype="multipart/form-data">
{% csrf_token %}
<table class="blueTable">
<thead>
	<tr>
		<th colspan="2">Code creation</th>
	</tr>
</thead>
{{ form.as_table }}
</table>
<input type="submit" id="submit_code" name="submit_code" value="Submit"/>
<input type="reset" id="reset_code" name="reset_code" value="Reset"/>
<a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
</form>

	<script>
		var code_editor=CodeMirror.fromTextArea(document.getElementById("{{form.code.auto_id}}"),{
			mode: {name: "python",
				version: 3,
				singleLineStringErrors: false},
			lineNumbers: true,
			indentUnit: 2,
			matchBrackets: true,
		});
                code_editor.setSize(null, 200);
                var req_editor=CodeMirror.fromTextArea(document.getElementById("{{form.requirements.auto_id}}"),{
			mode: null,
			lineNumbers: true,
		});
                req_editor.setSize(null, 200);
	</script>

{% endblock main_block %}
