{% extends 'base.html' %}

{% block main_block %}

  <h1>Code ({{ code.id }}) : {{ code.name }}</h1>
  <a href="{% url 'code_edit' code.id %}">Edit</a><br/>
  <h2>Implementation</h2>
      {% include 'codes/code_textarea.html' with code=code.code %}
      
      {% if requirements %}
        <h3>Requirements</h3>
        {% include 'codes/requirements_table.html' %}
      {% endif %}

      {% if code.dependencies.all %}
        <h3>Dependencies</h3>
	{% include 'codes/dependency_table.html' with dependencies=code.dependencies.all %}
      {% endif %}

  <h2>Files</h2>
  {% include 'codes/file_table_form.html' with files=code.files.all %}
  <hr/>

  {% if execution_results %}
  <h2>Execution</h2>
    {% include 'codes/execution_results_table.html' %}
    <hr/>
  {% endif %}
{% endblock main_block %}
