{% extends 'base.html' %}

{% block main_block %}
<h2>Code editing</h2>
<form method="post" role="form">

	{% csrf_token %}
	<input type="hidden" name="_popup" value="1">
<input type="hidden" name="_to_field" value="id">
{{ form.as_p }}

<div class="submit-row">
<input type="submit" name="submit" value="Save"/>
<input type="submit" name="_save" value="SAVE" class="default"/>
<input type="reset" name="reset" value="Reset"/>
<a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
</div>
</form>

	<script>
		var code_editor = CodeMirror.fromTextArea(document.getElementById("{{form.code.auto_id}}"),{
			mode: {name: "python",
				version: 3,
				singleLineStringErrors: false},
			lineNumbers: true,
			indentUnit: 2,
			matchBrackets: true,
		});
                code_editor.setSize(null, 200);
                var req_editor = CodeMirror.fromTextArea(document.getElementById("{{form.requirements.auto_id}}"),{
			mode: null,
			lineNumbers: true,
		});
                req_editor.setSize(null,200);

	</script>
{% endblock main_block %}
