{% extends 'base.html' %}

{% block main_block %}
<h1>Solver ({{ solver.id }}) {{ solver.name }} for Problem ({{solver.problem.id}}) <a href="{% url 'problem_detail' solver.problem.id %}">{{solver.problem.name}}</a></h1>
  <h2>Implementation [Code <a href="{% url 'code_detail' solver.implementation.id %}">{{solver.implementation.name}}</a>]</h2>
    {% include 'codes/code_textarea.html' with code=solver.implementation.code %}
    <hr/>
  {% if solutions %}
  <h2>Solutions</h2>
    {% include 'codes/execution_results_table.html' with execution_results=solutions %}
  {% endif %}

  {% if postprocessing %}
  <h2>Post-processing</h2>
    <table>
	    <thead>
		    <tr>
			    <th>#</th>
			    <th>process</th>
			    <th>output</th>
	            </tr>
	    </thead>
	    <tbody>
    {% for p in postprocessing %}
      <tr>
	      <td>{{p.id}}</td>
	      <td>{{p.implementation.name}}</td>
	      <td>{% autoescape off %}{{ p.html_render }}{% endautoescape %}</td>
      </tr>
    {% endfor %}
	    </tbody>
    </table>
  {% endif %}


    
{% endblock main_block %}
