{% load problems_tags %}

<h2>Description</h2>

<style>
.description-div {
  padding: 1em;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
</style>

There are {{ problem.solvers|length }} solvers submitted for this problem.

<div class="description-div">
	{% autoescape off %}
	{{ problem.description }}
	{% endautoescape %}
</div>

<h3>Input/output description</h3>
{% if problem.input_type %}
Input type : <a href="{% url 'code_detail' problem.input_type.id %}">{{problem.input_type.name}}</a><br/>
{% else %}
Input type : float
{% endif %}

{% if problem.output_type %}
Output type : <a href="{% url 'code_detail' problem.input_type.id %}">{{problem.output_type.name}}</a><br/>
{% else %}
Output type : float
{% endif %}

